# Terraform
.terraform/
.terraform.lock.hcl

# State files
terraform.tfstate
terraform.tfstate.*
*.tfstate

# Auto tfvars containing secrets
*.auto.tfvars

# PEM Keys
*.pem

# IDE
.vscode/
.idea/

# Logs
*.log